@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600;800&display=swap');

body { 
    margin: 0; 
    background-color: #000; 
    overflow: hidden; 
    width: 100vw; height: 100vh;
    display: flex; justify-content: center; align-items: center;
    font-family: 'Rajdhani', sans-serif;
}

#game-container { 
    position: relative; width: 100%; height: 100%; 
    background: #000; overflow: hidden; 
}

/* HUD */
#ui-layer { 
    position: absolute; top: 25px; left: 25px; width: 95%; 
    display: flex; justify-content: space-between; align-items: flex-start; 
    z-index: 100; pointer-events: none; 
}

.hud-box { 
    display: flex; flex-direction: column; 
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border: 1px solid #333;
    border-radius: 8px;
    backdrop-filter: blur(2px);
}
#center-hud { align-items: center; flex-grow: 1; }

.hud-label { 
    font-size: 14px; font-weight: 800; letter-spacing: 2px; 
    color: #00f3ff; text-transform: uppercase; 
}

.hud-value { 
    font-size: 48px; font-weight: 800; color: #fff; 
    text-shadow: 2px 2px 0px #333; line-height: 0.9; margin-bottom: 5px; 
}

#stamina-value { color: #00f3ff; }

/* STAMINA BAR */
#energy-container { 
    width: 300px; height: 8px; 
    background: #333; border: 2px solid #555; 
    margin-top: 5px; transform: skewX(-20deg); 
}
#energy-fill { 
    width: 100%; height: 100%; background: #00f3ff; 
    box-shadow: 0 0 10px #00f3ff;
    transition: width 0.1s linear, background 0.2s;
}

/* MENU */
#start-screen { 
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
    background: rgba(0, 0, 0, 0.9); 
    display: flex; flex-direction: column; justify-content: center; align-items: center; 
    z-index: 200; 
}

h1 { 
    font-size: 120px; margin: 0; 
    text-transform: uppercase; color: #fff; 
    letter-spacing: 5px; font-weight: 800;
}

p { 
    color: #00f3ff; letter-spacing: 3px; font-size: 20px; 
    text-align: center; margin-bottom: 40px; font-weight: 600;
}

button { 
    background: #00f3ff; color: #000; border: none; 
    padding: 20px 60px; font-family: 'Rajdhani', sans-serif; 
    font-size: 28px; font-weight: 800; cursor: pointer; 
    text-transform: uppercase; letter-spacing: 2px; 
    transform: skewX(-10deg); transition: transform 0.2s; 
    pointer-events: auto;
}
button:hover { transform: skewX(-10deg) scale(1.1); box-shadow: 0 0 20px #00f3ff; }

#story-overlay { 
    position: absolute; top: 30%; width: 100%; text-align: center; 
    pointer-events: none; z-index: 90; 
}
.story-text { 
    font-size: 80px; font-weight: 800; color: #fff; 
    text-transform: uppercase; opacity: 0; transition: opacity 1s; 
}
.story-sub { 
    font-size: 30px; color: #00f3ff; letter-spacing: 5px; 
    opacity: 0; transition: opacity 1s; 
}